/* Folder uteis */
@import '../uteis/index.css'; 
/* Folder Components*/
@import url('../components/status-bar.css');
@import url('../components/bottom-navbar.css');
@import '../components/movie.css';
@import '../components/navibar.css';
@import '../components/play.css';
@import '../components/search-movie.css';
@import '../components/search-input.css';
@import '../components/logo.css';

.center {
    display: flex;
    height: calc(100vh - 44px);
    justify-content: center;
}

.logo {
    animation: load 1500ms ease-in-out;
}

@keyframes load {
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: 1;
    }
}